@import url(https://fonts.googleapis.com/css?family=Lato);


#board {
    border-radius:2%;
    display:flex;
    flex-direction: row;
    background-color: antiquewhite;
    width: 70vw;
    height:55vh;
    /* width: 750px;
    height:500px; */
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;    


}
.boardComp {
    display: flex;
    flex-direction: column;
    padding-left:4vw;
    padding-right:4vw;



}
.instructions {
    font-size:1.1rem;
    color:white;
    padding-left: 10%;
    padding-right: 10%;

}
#board p {
    border: 1px solid black;
    font-size:3rem;
}



body {
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow:hidden;
    background-color: black;
    font-family: 'Lato', Helvetica, Arial;
}

label {
    font-size: 2rem;
    color: white;
}
#inputStuff {
    padding-top: 60vh;
}

h2 {
    color:white;
}

#start {
    font-size: 2rem;
}

#text {
    display: flex;
    align-items: center;
}

@media (max-width: 1250px) {
    #board {
        width: 95vw;
    }

}